{%extends 'musicbeats/basic.htm'%}
{% block title%}Teja-Music{% endblock %}

{% block body %}
{% load static %}
<h1 class="mt-5 text-center"  data-aos="zoom-in-up" data-aos-delay="600">Watch History</h1>

{% if history|length < 1 %} <h3 class="text-center pt-5">You have no Video in your Watch Later</h3>
  {% endif %}

  <div class="container">
    <div class="row justify-content-center mt-5">
      {% for i in history reversed %}
      <div class="col-11 col-md-4 mb-3">
        <div class="card mb-3"  data-aos="zoom-in-down" data-aos-delay="700"> 

          <div>
            <img src="{{i.image}}" class="card-img" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">Tags: {{i.tags}}</p>
            <p class="card-text">Movie: {{i.movie}}</p>
            <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn btn-primary">Play Song</button></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

  {% endblock %}