{%extends 'musicbeats/basic.htm'%}
{% block title%}Login{% endblock %}

{% block body %}

<h2 class="mt-4 text-center" style="  color: rgb(218, 16, 16);"  data-aos="flip-down" data-aos-delay="600">Upload Your Music</h2>

<div class="container  mt-4">
    <form action="/musicbeats/upload" enctype="multipart/form-data" method="POST"  data-aos="flip-up" data-aos-delay="700">{% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Your Music Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1"  name="name" placeholder="Your Song Name">
        </div>
        

        <div class="form-group">
            <label for="exampleInputEmail2">Singer Name</label>
            <input type="text" class="form-control" id="exampleInputEmail2"  name="singer" placeholder="Singer Name">
          </div>


          <div class="form-group">
            <label for="exampleInputEmail3">Tags :</label>
            <input type="text" class="form-control" id="exampleInputEmail3"  name="tag" placeholder="Tags (Seperate By Commas)">
          </div>


          <div class="form-group">
            <label for="exampleInputEmail4">Image Link: (Associated With Your Music)</label>
            <input type="text" class="form-control" id="exampleInputEmail4"  name="image" placeholder="Link to Image">
          </div>    


        <div class="form-group">
          <label for="exampleInputPassword5">Movie Name</label>
          <input type="text" class="form-control" id="exampleInputPassword5" placeholder="Movie name in which this song is their" name="movie">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword6">Credit</label>
            <input type="text" class="form-control" id="exampleInputPassword6" placeholder="Add Credit Link" name="credit">
          </div>

        <div class="form-group">
            <label for="exampleFormControlFile7">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile7" name="file">
          </div>
        
    <div style="padding-top: 3%; padding-bottom: 3%;">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
      </form>
    </div>
{% endblock %}
