@media (max-width:1030px) {

}

@media (max-width:991px){

}

@media (max-width: 767px){
   
 .navbar-brand{
     /* font-size: 0.7rem; */
 }

 .songpost img{
  
    height:200px;
    width:330px;
  
  }

  h2{
      font-size: 1.5rem;
  }

  h1{
    font-size:2.3rem;
  }
}